*{
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{
    background-color: rgb(225, 225, 225);
}

#navigation{
    top: 0;
    position: sticky;
    z-index: 999;
    background-color: white;
}

.nav-bar{
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
}

#logo img{
    height: 3.4rem;
}

.nav-link ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    padding-top: .9rem;
}

.nav-link li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-button{
    padding-top: .9rem;
}

.nav-button a:first-child{
    margin-right: 1rem;
}

#login-btn{
    text-decoration: none;
    border: none;
    background-color: rgb(96, 96, 255);
    color: white;
    padding: .5rem 2rem;
    border-radius: 2rem;
}

.hamburger-box{
    height: 2.65rem;
    width: 3rem;
    display: flex;
    gap: .5rem;
    margin-left: auto;
    flex-direction: column;
    margin-top: -2.6rem;
    opacity: 0;
}

.hamburger-box div{
    height: .3rem;
    width: 100%;
    background-color: gray;
}

.hamburger-box.active div:first-child{
    margin-top: 1rem;
    transform: rotate(50deg);
}

.hamburger-box.active div:nth-child(2){
    margin-top: -1rem;
    transform: rotate(-50deg);
}

.hamburger-box.active div:nth-child(3){
   display: none;
}

#cart-icon{
    text-decoration: none;
    color: black;
}

@media (max-width:450px) {
    #logo img{
        height: 2.2rem;
    }
    .hamburger-box{
        height: 1.92rem;
        width: 2.5rem;
        gap: .36rem;
        margin-top: -1.9rem;
    }
}


@media (max-width:600px) {
    .hamburger-box{
        opacity: 1;
    }
    .nav-bar{
        flex-direction: column;
    }
    .nav-link ul{
        flex-direction: column;
        align-items: center;
    }
    .nav-link ul{
        display: none;
    }
    .nav-link ul.active{
        display: flex;
    }
    .nav-button{
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        gap: 1.3rem;
    }
    .nav-button{
        display: none;
    }
    .nav-button.active{
        display: flex;
        flex-direction: column;
    }
    #login-btn{
        padding: .5rem 1rem;
        margin-left: 3rem;
    }
    #cart-icon{
        margin-left: 1.2rem;
    }
    .nav-bar{
        margin: 0 1rem;
    }
    .nav-link ul{
        gap: 1.3rem;
    }
}

@media (min-width:601px) and (max-width:700px) {
    .nav-link ul{
        gap: 1rem;
    }
    .nav-bar{
        margin: 0 1rem;
    }
    #login-btn{
        padding: .5rem 1rem;
    }
    .nav-button a:first-child{
        margin-right: 0;
    }
}

@media (min-width:701px) and (max-width: 810px) {
    .nav-bar{
        margin: 0 1rem;
    }
    #login-btn{
        padding: .5rem 1.4rem;
    }
    .nav-link ul{
        gap: 1.5rem;
    }
    
}

@media (min-width:811px) and (max-width:920px) {
    .nav-link ul{
        gap: 1.5rem;
    }
}
