<footer id="footer">
    <div class="footer-cont">
        <div class="footer-sub-cont">
            <ul>
                <h5>Get to know Us</h5>
                <a href="" target="_blank"><li>Contact us</li></a>
                <a href="" target="_blank"><li>About us</li></a>
            </ul>
        </div>
        <div class="footer-sub-cont">
            <ul>
                <h5>Connect with Us</h5>
                <a href="https://www.facebook.com/vignesh.g.54738" target="_blank"><li><i class="fa-brands fa-facebook-f"></i>&Tab;Facebook</li></a>
                <a href="https://www.instagram.com/_v.i.c.k.y_26_/?igsh=YTZjcTg4c3VpaTVn" target="_blank"><li><i class="fa-brands fa-instagram"></i>&Tab;Instagram</li></a>
                <a href="https://x.com/Vignesh36446290" target="_blank"><li><i class="fa-brands fa-twitter"></i>&Tab;Twitter</li></a>
            </ul>
        </div>
        <div class="footer-sub-cont">
            <ul>
                <h5>Help</h5>
                <a href="" target="_blank"><li>FAQ</li></a>
                <a href="" target="_blank"><li>Cancellation and Refund</li></a>
                <a href="" target="_blank"><li>Terms and Policies</li></a>
                <a href="" target="_blank"><li>Shipping</li></a>
            </ul>
        </div>
        <div class="footer-sub-cont">
            <ul>
                <h5>Contact Details</h5>
                <a href="tel:+9500000911" target="_blank"><li><i class="fa-solid fa-phone"></i>&Tab;+91 9500000911</li></a>
                <a href="mailto:vigneshganesan2k1@gmail.com" target="_blank"><li><i class="fa fa-envelope" aria-hidden="true"></i>&Tab;vigneshganesan2k1@gmail.com</li></a>
                <a href="https://maps.app.goo.gl/vxaVZSiS7dzxRrNWA" target="_blank"><li><i class="fa-solid fa-location-dot"></i>&Tab;Kodungaiyur, Chennai-600118</li></a>
            </ul>
        </div>
    </div>
</footer>