<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maruthi</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {% include 'bootstrap_css.html' %}
</head>
<body id="body">
    {% include 'navbar.html' %}

    <div class="banner-container">
        <img src="../static/images/banner.jpg" alt="banner image" class="banner-img">
        <div class="banner-greatings">
            <div class="greet">
                <h1>Experience Greatest <br>Shopping Ever</h1>
                <h4>Valuable Discount on all products</h4>
                <h4>Off upto 50%</h4>
            </div>
        </div>
    </div>

    <section class="hr-container">
        <h2>Hot Deals</h2>
        <div class="product-list-hr">
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/kids1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Laptop')}}"><img src="../static/images/laptop1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Shoes')}}"><img src="../static/images/shoes1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Mobile')}}"><img src="../static/images/mobile1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Headphones')}}"><img src="../static/images/headphones1.png" alt="product"></a>
            </div>
        </div>
    </section>

    <section class="hr-container">
        <h2>Top Offers</h2>
        <div class="product-list-hr">
            <div class="card">
                <a href="{{url_for('products',name='Women')}}"><img src="../static/images/women1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Speakers')}}"><img src="../static/images/speaker1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='College Bags')}}"><img src="../static/images/cbag1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Handbags')}}"><img src="../static/images/hbags.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Men')}}"><img src="../static/images/men1.png" alt="product"></a>
            </div>
        </div>
    </section>

    <section class="vr-container">
        <div class="product-list-vr">
            <h2>Hot deals</h2>
            <div class="product-grid">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
        </div>
        <div class="product-list-vr">
            <h2>Hot deals</h2>
            <div class="product-grid">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
        </div>
        <div class="product-list-vr">
            <h2>Hot deals</h2>
            <div class="product-grid">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
        </div>
    </section>

    <section class="hr-container">
        <h2>Hot Deals</h2>
        <div class="product-list-hr">
            <div class="card">
                <a href="{{url_for('products',name='T-shirts')}}"><img src="../static/images/tshirt1.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/Untitled design.png" alt="product"></a>
            </div>
        </div>
    </section>

    {% include 'footer.html'%}



    {% include 'bootstrap_js.html' %}
    <script src="../static/js/navbar.js"></script>
</body>
</html>