<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maruthi</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {% include 'bootstrap_css.html' %}
</head>
<body id="body">
    {% include 'navbar.html' %}

    <div class="banner-container">
        <img src="../static/images/banner.jpg" alt="banner image" class="banner-img">
        <div class="banner-greatings">
            <div class="greet">
                <h1>Experience Greatest <br>Shopping Ever</h1>
                <h4>Valuable Discount on all products</h4>
                <h4>Off upto 50%</h4>
            </div>
        </div>
    </div>

    <section class="hr-container">
        <h2>Hot Deals</h2>
        <div class="product-list-hr">
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/toys/kids1.png" alt="Kids1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Laptop')}}"><img src="../static/images/laptops/laptop1.png" alt="laptop1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Shoes')}}"><img src="../static/images/shoes/shoes1.png" alt="shoes1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Mobile')}}"><img src="../static/images/mobiles/mobile1.png" alt="mobile1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Headphones')}}"><img src="../static/images/headphones/headphones1.png" alt="headphones1"></a>
            </div>
        </div>
    </section>

    <section class="hr-container">
        <h2>Top Offers</h2>
        <div class="product-list-hr">
            <div class="card">
                <a href="{{url_for('products',name='Women')}}"><img src="../static/images/women/women1.png" alt="women1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Speaker')}}"><img src="../static/images/speakers/speaker1.png" alt="speaker1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='CollegeBag')}}"><img src="../static/images/collegebags/cbag1.png" alt="college bag 1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Handbags')}}"><img src="../static/images/handbags/hbags1.png" alt="handbag 1"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Men')}}"><img src="../static/images/men/men1.png" alt="men1"></a>
            </div>
        </div>
    </section>

    <section class="vr-container">
        <div class="product-list-vr">
            <h2>Hot deals</h2>
            <div class="product-grid">
                <a href="{{url_for('products',name='Watch')}}"><img src="../static/images/watches/watch1.png" alt="watch1"></a>
                <a href="{{url_for('products',name='T-shirts')}}"><img src="../static/images/tshirts/tshirt1.png" alt="tshirt1"></a>
                <a href="{{url_for('products',name='Speaker')}}"><img src="../static/images/speakers/speaker2.png" alt="speaker2"></a>
                <a href="{{url_for('products',name='CollegeBag')}}"><img src="../static/images/collegebags/cbag2.png" alt="college bag 2"></a>
            </div>
        </div>
        <div class="product-list-vr">
            <h2>Hot deals</h2>
            <div class="product-grid">
                <a href="{{url_for('products',name='Headphones')}}"><img src="../static/images/headphones/headphones2.png" alt="headphones2"></a>
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/toys/kids2.png" alt="kids2"></a>
                <a href="{{url_for('products',name='Men')}}"><img src="../static/images/men/men2.png" alt="men2"></a>
                <a href="{{url_for('products',name='Women')}}"><img src="../static/images/women/women2.png" alt="women2"></a>
            </div>
        </div>
        <div class="product-list-vr">
            <h2>Hot deals</h2>
            <div class="product-grid">
                <a href="{{url_for('products',name='Shoes')}}"><img src="../static/images/shoes/shoes2.png" alt="shoes2"></a>
                <a href="{{url_for('products',name='Mobile')}}"><img src="../static/images/mobiles/mobile2.png" alt="mobile2"></a>
                <a href="{{url_for('products',name='Handbags')}}"><img src="../static/images/handbags/hbags2.png" alt="handbag 2"></a>
                <a href="{{url_for('products',name='Laptop')}}"><img src="../static/images/laptops/laptop2.png" alt="laptop2"></a>
            </div>
        </div>
    </section>

    <section class="hr-container">
        <h2>Hot Deals</h2>
        <div class="product-list-hr">
            <div class="card">
                <a href="{{url_for('products',name='T-shirts')}}"><img src="../static/images/tshirts/tshirt2.png" alt="tshirt2"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Shoes')}}"><img src="../static/images/shoes/shoes3.png" alt="shoes3"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Mobile')}}"><img src="../static/images/mobiles/mobile3.png" alt="mobile3"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Watch')}}"><img src="../static/images/watches/watch2.png" alt="watch2"></a>
            </div>
            <div class="card">
                <a href="{{url_for('products',name='Toys')}}"><img src="../static/images/toys/kids3.png" alt="kids3"></a>
            </div>
        </div>
    </section>

    {% include 'footer.html'%}



    {% include 'bootstrap_js.html' %}
    <script src="../static/js/navbar.js"></script>
</body>
</html>