<header id="navigation">
    <div class="nav-bar">
        <div id="logo">
            <img src="../static/images/v-logo.jpg" alt="Maruthi">
            <div class="hamburger-box" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div>
            <nav class="nav-link">
                <ul>
                    <li><a href="#">Mens</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">kids</a></li>
                    <li><a href="#">Gadgets</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-button">
            <a href="#" id="login-btn">Login</a>
        </div>
    </div>
</header>