<header id="navigation">
    <div class="nav-bar">
        <div id="logo">
            <img src="../static/images/v-logo.jpg" alt="Maruthi">
            <div class="hamburger-box" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div>
            <nav class="nav-link">
                <ul>
                    <li><a href="#">Dress</a></li>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Toys</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-button">
            <a href="#" id="login-btn">Login</a>
            <a href="#" id="cart-icon"><i class="fas fa-cart-shopping"></i>&Tab;Cart</a>
        </div>
    </div>
</header>