<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maruthi {{title}}</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/specific_products.css">
    {% include 'bootstrap_css.html' %}
    <link rel="shortcut icon" href="../static/images/v-logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body id="body">
    {% include 'navbar.html' %}
    

    <section id="product-container">
        <div class="product-sub-container">
            {% for category in categories %}
            <div class="product-card">
                <a href="">
                    <div>
                        <img src="{{category['thumbnail']}}" alt="{{category['id']}}" id="product-card-img">
                    </div>
                    <div>
                        <h4 id="brand">{{category['brand']}}</h4>
                        <h6 id="brand">{{category['smalld']}}</h6>
                        <div class="price-details">
                            <p id="offp">{{category['offer_price']}}</p> 
                            <p><strike id="actp"> {{category['actula_price']}} </strike></p> 
                            <p id="offper">{{category['offer_percentage']}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>


    {% include 'footer.html' %}


    {% include 'bootstrap_js.html' %}
    <script src="../static/js/navbar.js"></script>
</body>
</html>